version: "3.8"

services:
  backend:
    image: ghcr.io/ixone0/backend:latest
    ports:
      - "8000:8000"
    restart: always

  frontend:
    image: ghcr.io/ixone0/frontend:latest
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always
